#Nextflow
work/
.nextflow/
.nextflow.log*

#Results
results/

#local params
params/*.yaml
!params/test.yaml

#reference files
*.fa
*.fasta
*.fa.gz
*.fasta.gz
!assets/*.fa
!assets/*.fasta
*.gtf
*.gtf.gz
*_index/

#raw data
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bai
*.sif

#R
.Rhistory
.RData
.Rproj.user/