nextflow.enable.dsl = 2

params {
    // --- required ---
    input = null
    mirge_lib = null

    // --- small RNA settings ---
    species = 'human'
    adapter = 'AGATCGGAAGAGC'
    min_length = 15
    max_length = 35
    quality_cutoff = 20
    mirge_pbwt = 2

    // --- optional ---
    run_spikein = true
    spikein_fasta = "${projectDir}/assets/mind_spikein.fa"

    // --- output ---
    outdir = 'results'

    // --- pipeline control ---
    skip_fastqc = false
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
    }
    test {
        includeConfig 'conf/test.config'
    }
}

includeConfig 'conf/base.config'