nextflow.enable.dsl = 2

params {
    input = null
    mirge_lib = null
    species = null
    outdir = 'results'
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        process.container = "${projectDir}/images/rnaseq.sif"
    }
    conda {
        conda.enabled = true
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
    }
    test {
        includeConfig 'conf/test.config'
    }
}

includeConfig 'conf/base.config'
includeConfig 'conf/defaults.config'