nextflow.enable.dsl = 2

params {
    input = null
    mirge_lib = null
    species = null
    outdir = 'results'
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        process.container = "${projectDir}/images/rnaseq.sif"
    }
    conda {
        conda.enabled = true
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
    }
    lpc {
        // local computer (personal pc)
        // uses smaller Kraken2 DB that fits in limited RAM (~8 GB)
        params.kraken2_db = "/home/joao/bio_projects/references/kraken2_db" // path to Kraken2 DB on local machine
        params.kraken2_memory_mapping = false
    }
    hpc {
        // HPC environment
        // uses full PlusPFP DB (100 GB more RAM)
        params.kraken2_db = "/path/to/atria/kraken2_pluspfp_16gb"
        params.kraken2_memory_mapping = false
        process.executor = 'slurm'
        process.queue = 'short'
    }
    test {
        includeConfig 'conf/test.config'
    }
}

includeConfig 'conf/base.config'
includeConfig 'conf/defaults.config'