params {
    adapter = 'AGATCGGAAGAGC' // this is based on the low bias small RNA kit from NEBNext
    min_length = 15
    max_length = 35
    quality_cutoff = 20

    // miRge3.0
    mirge_pbwt = 2

    // spike-in (miND from TAmiRNA)
    run_spikein = true
    spikein_fasta = "${projectDir}/assets/mind_spikein.fa"

    // pipeline generals
    skip_fastqc = false
}