params {
    adapter = 'AGATCGGAAGAGC' // this is based on the low bias small RNA kit from NEBNext
    min_length = 14
    max_length = 45
    quality_cutoff = 20
    mirge_db = 'miRBase'
    run_kraken2 = false
    kraken2_db = null
    kraken2_memory_mapping = false
    run_yrna = true
    yrna_fasta = "${projectDir}/assets/yrna_human_refs.fa" // 
    yrna_region_size = 30
    run_pirna = true
    pirna_index_dir = null
    pirna_index_prefix = "pirbase_v3_gold"
    run_unmapped_curation = true
    unmapped_min_total_count = 10
    unmapped_min_samples = 5
    unmapped_cdhit_identity = 0.90
    rnacentral_db_dir = null
    rnacentral_db_prefix = "rnacentral_active"

    // spike-in (miND from TAmiRNA)
    run_spikein = true
    spikein_fasta = "${projectDir}/assets/mind_spikein.fa"

    // pipeline generals
    skip_fastqc = false
    predict_novel_mirna = false
    run_trf = true
}