params {
    adapter = 'AGATCGGAAGAGC' // this is based on the low bias small RNA kit from NEBNext
    min_length = 14
    max_length = 45
    quality_cutoff = 20
    mirge_db = 'miRBase'
    run_kraken2 = false
    kraken2_db = null
    kraken2_memory_mapping = false
    
    // spike-in (miND from TAmiRNA)
    run_spikein = true
    spikein_fasta = "${projectDir}/assets/mind_spikein.fa"

    // pipeline generals
    skip_fastqc = false
    predict_novel_mirna = true
    run_trf = true
}